.vs/interpreter/FileContentIndex/b283ba61-228c-41b3-9241-6cc7f427fba7.vsidx
.vs/interpreter/v17/Browse.VC.db
.vs/interpreter/v17/Browse.VC.db-shm
.vs/interpreter/v17/Browse.VC.db-wal
.vs/interpreter/v17/Browse.VC.opendb
.vs/interpreter/v17/ipch/AutoPCH/d8665b06aa6907c3/INTERPRETER.ipch
*.vcxproj
*.filters
*.user
